* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
